.bottom-nav1 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: var(--white);
    border-top: 1px solid var(--grey);
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2.5rem;
    color: var(--dark-grey);
}

.left-content {
    display: flex;
    font-weight: 450;
    font-size: 14px;
    align-items: center;
}

.bottom-nav-text, ol {
    display: flex;
}

.bullet-dot {
    margin: 0 0.5rem;
}

.right-content {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 700;
    margin-left: 0.5rem;
}

.language-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.support-and-arrow-div {
    display: flex;
    gap: 0.25rem;
}

.support-span {
    display: flex;
    align-items: center;
}

.show-map-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.show-map-container {
    height: 200px;
    width: 200px;
    z-index: 12;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
}

.show-map-text {
    display: flex;
    align-items: center;
    background-color: var(--dark-grey);
    color: var(--white);
    padding: 1rem;
    border-radius: 2rem;
    gap: 0.5rem;
    font-size: 14px;
    font-weight: 700;
}

@media only screen and (max-width: 951px) {
    .bottom-nav-text {
        display: block;
    }

    .bottom-nav1 {
        padding: 0rem 2rem;
        height: 3.5rem;
    }

    .right-content {
        font-size: 13px;
    }
}

@media only screen and (max-width: 917px) {
    .right-content {
        font-size: 12px;
    }
}

@media only screen and (max-width: 901px) {
    .bottom-nav1 {
        padding: 0rem 1.5rem;
        height: 3rem;
    }

    .right-content {
        font-size: 12px;
    }

    .bottom-nav-text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 850px) {
    .bottom-nav1 {
        display: none;
    }

    .show-map-box {
        display: none;
    }
}